<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>    </head>
    <body>
        <div class="whole-container">
            <div class="menu-panel">
                <div class="back-icon">
                    <i class="fa-solid fa-caret-right"></i>
                </div>
                <div class="logo-holder">Sri Sathya Sai Institute of Higher Learning</div>
                <div class="menu-icons">
                    <div class="overview menu-item active">
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <span class="icon-name">Overview</span>
                    </div>
                    <div class="students menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <span class="icon-name">Students</span> 
                    </div>
                    <div class="faculty menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <span class="icon-name">Faculty</span>
                    </div>
                    <div class="departments menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <span class="icon-name">Departments</span>
                    </div>
                    <div class="courses menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span class="icon-name">Courses</span>
                    </div>
                    <div class="Campus menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-school"></i>
                        </div>
                        <span class="icon-name">Campus</span>
                    </div>
                </div>
            </div>
            <div class="right-panel over"> 
                <div class="dashboard-head">
                    <span class="over-heading">Overview</span>
                    <div class="date">
                        <span>26/05/2025</span>
                    </div>
                </div>

                <div class="dashboard">
                    <div class="dashboard-item">
                        <div class="card-header">
                            <div class="icon-holder">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <span>Students</span>
                        </div>
                        <div class="card-content">
                            <span class="card-num">2335</span>
                            <span>Students</span>
                        </div>
                    </div>
                    <div class="dashboard-item">
                        <div class="card-header">
                            <div class="icon-holder">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </div>
                            <span>Faculty</span>
                        </div>
                        <div class="card-content">
                            <span class="card-num">332</span>
                            <span>Faculties</span>
                        </div>
                    </div>
                    <div class="dashboard-item">
                        <div class="card-header">
                            <div class="icon-holder">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <span>Departments</span>
                        </div>
                        <div class="card-content">
                            <span class="card-num">6</span>
                            <span>Departments</span>
                        </div>
                    </div>
                    <div class="dashboard-item">
                        <div class="card-header">
                            <div class="icon-holder">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <span>Courses</span>
                        </div>
                        <div class="card-content">
                            <span class="card-num">20</span>
                            <span>Courses</span>
                        </div>
                    </div>
                    <div class="dashboard-item">
                        <div class="card-header">
                            <div class="icon-holder">
                                <i class="fa-solid fa-school"></i>
                            </div>
                            <span>Campus</span>
                        </div>
                        <div class="card-content">
                            <span class="card-num">4</span>
                            <span>Campus</span>
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </body>
</html>