<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>    </head>
    <body>
        <div class="whole-container">
            <div class="menu-panel">
                <div class="back-icon">
                    <i class="fa-solid fa-caret-right"></i>
                </div>
                <div class="logo-holder">Sri Sathya Sai Institute of Higher Learning</div>
                <div class="menu-icons">
                    <div class="overview menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <span class="icon-name">Overview</span>
                    </div>
                    <div class="students menu-item active">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <span class="icon-name">Students</span> 
                    </div>
                    <div class="faculty menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <span class="icon-name">Faculty</span>
                    </div>
                    <div class="departments menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <span class="icon-name">Departments</span>
                    </div>
                    <div class="courses menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span class="icon-name">Courses</span>
                    </div>
                    <div class="Campus menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-school"></i>
                        </div>
                        <span class="icon-name">Campus</span>
                    </div>
                </div>
            </div>
            <div class="right-panel stud">
                <div class="dashboard-head">
                    <span class="over-heading">Students</span>
                    <div class="date">
                        <span>26/05/2025</span>
                    </div>
                </div>
                <div class="stud-header">
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" class="search" placeholder="Search Students...">
                    </div>
                    <div class="create-icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                
                <div class="table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Register No.</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Year</th>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1001</td>
                                <td>John Doe</td>
                                <td>Computer Science</td>
                                <td>3rd Year</td>
                                <td>johndoe@gmail.com</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit"><i class="fas fa-edit"></i></td>
                                <td class="delete"><i class="fa-solid fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>1002</td>
                                <td>Jane Smith</td>
                                <td>Electronics</td>
                                <td>2nd Year</td>
                                <td>janesmith@gmail.com</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit"><i class="fas fa-edit"></i></td>
                                <td class="delete"><i class="fa-solid fa-trash"></i></td>

                            </tr>
                            <tr>
                                <td>1003</td>
                                <td>Emily Johnson</td>
                                <td>Physics</td>
                                <td>1st Year</td>
                                <td>emilyjohnson@gmail.com</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit"><i class="fas fa-edit"></i></td>
                                <td class="delete"><i class="fa-solid fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>1004</td>
                                <td>Michael Brown</td>
                                <td>Mathematics</td>
                                <td>4th Year</td>
                                <td>michaelbrown@gmail.com</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit"><i class="fas fa-edit"></i></td>
                                <td class="delete"><i class="fa-solid fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>1005</td>
                                <td>Sarah Wilson</td>
                                <td>Chemistry</td>
                                <td>3rd Year</td>
                                <td>sarahwilson@gmail.com</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit"><i class="fas fa-edit"></i></td>
                                <td class="delete"><i class="fa-solid fa-trash"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>